# SQL Basics Assignment

Q1. Create a New Database and  Table for Employees

Task: Create a new database named Company_db and Create a table named employees with the following

Ans: To create a new database and table for emplyoyees here is code for this.

-- Step 1: Create Database
CREATE DATABASE company_db;

-- Step 2: Use the Database
USE company_db;

-- Step 3: Create Employees Table
CREATE TABLE employees (

    employee_id INT PRIMARY KEY,

    first_name VARCHAR(50),
    last_name VARCHAR(50),
    department VARCHAR(50),
    salary INT,
    hire_date DATE
);

Explanation (short):

- company_db → new database create ki

- employees → table ka naam

- employee_id → PRIMARY KEY

- VARCHAR(50) → text ke liye

- DATE → date store karne ke liye

Q2.Insert Data into Employees Table

Task: Insert the following sample records into the table.

Ans:To insert the following sample record into the table are.

INSERT INTO employees (employee_id, first_name, last_name, department, salary, hire_date)
VALUES

(101, 'Amit', 'Sharma', 'HR', 50000, '2020-01-15'),

(102, 'Riya', 'Kapoor', 'Sales', 75000, '2019-03-22'),

(103, 'Raj', 'Mehta', 'IT', 90000, '2018-07-11'),

(104, 'Neha', 'Verma', 'IT', 85000, '2021-09-01'),

(105, 'Arjun', 'Singh', 'Finance', 60000, '2022-02-10');

Check data:

SELECT * FROM employees;

Q3.Display All Employee Records Sorted by Salary (Lowest to Highest)

Hint: Use the ORDER BY clause on the salary column.

Ans:Using order by clause to sorted by salary column in (lowest to higest )

SELECT *
FROM employees
ORDER BY salary ASC;

Explanation (short):

- ORDER BY salary → salary ke basis par sort

- ASC → Lowest to Highest (ascending order)

- ASC optional hota hai (by default ascending hi hota hai)

Q4. Show Employees Sorted by Department (A–Z) and Salary (High → Low)?

Ans: To employee sorted by department (A-Z) and salary (high - low) are as follow as.

SELECT *
FROM employees
ORDER BY department ASC, salary DESC;

Explanation (short):

- department ASC → Department A–Z order mein

- salary DESC → Same department ke andar High → Low salary.

Q5. List All Employees in the IT Department, Ordered by Hire Date (Newest First).

Ans: All employees in the it deapartment , ordered by hire date  (newest first).

SELECT *
FROM employees
WHERE department = 'IT'
ORDER BY hire_date DESC;

Explanation (short):

- WHERE department = 'IT' → sirf IT department ke employees

- ORDER BY hire_date DESC → Newest to Oldest (latest hire pehle)

Q6. Create and Populate a Sales Table

Task: Create a table SALES to track sales data:

Ans: To create  a table sales to track sales data are

-- Create sales table

CREATE TABLE sales (

    sale_id INT PRIMARY KEY,
    customer_name VARCHAR(50),
    amount INT,
    sale_date DATE
);

-- Insert data into sales table

INSERT INTO sales (sale_id, customer_name, amount, sale_date) VALUES

(1, 'Aditi', 1500, '2024-08-01'),

(2, 'Rohan', 2200, '2024-08-03'),

(3, 'Aditi', 3500, '2024-09-05'),

(4, 'Meena', 2700, '2024-09-15'),

(5, 'Rohan', 4500, '2024-09-25');

short explanation:

- CREATE TABLE se sales table banayi

- sale_id primary key hai

- INSERT INTO se given sales data table me add kiya

Q7.Display All Sales Records Sorted by Amount (Highest → Lowest)

Hint: use ORDER BY AMOUNTING DESC;

Ans:Display all sales records (Highest → Lowest amount) are as follow as.

SELECT *
FROM sales
ORDER BY amount DESC;

Explanation:

- SELECT * → sabhi records dikhata hai

- ORDER BY amount DESC → amount ko highest se lowest order me sort karta hai

Q8.Show All Sales Made by Customer “Aditi”

Hint:use WHERE customer_name ="Aditi"

Ans:Show all sales made by customer “Aditi”

SELECT *
FROM sales
WHERE customer_name = 'Aditi';

Explanation:

- SELECT * → saare columns show karega

- WHERE customer_name = 'Aditi' → sirf Aditi ke sales records filter karega.

Q9.What is the Difference Between a Primary Key and a Foreign Key?

Ans:The difference between a primary key and foregin key are as follow as.


1.Primary Key table ke har record ko uniquely identify karti hai, jabki.

 Foreign Key ek table ke column ko dusre table ki Primary Key se link karti hai.

2.Primary Key me duplicate values allowed nahi hoti, jabki

Foreign Key me duplicate values ho sakti hain.

3.Primary Key ka value NULL nahi ho sakta, jabki

Foreign Key me NULL allowed hota hai.

4.Primary Key same table ke andar hoti hai, jabki

Foreign Key do tables ke beech relationship banati hai.

5.Primary Key ka main purpose data uniqueness maintain karna hota hai, jabki

Foreign Key ka purpose referential integrity maintain karna hota hai.

6.Ek table me sirf ek Primary Key hoti hai, jabki multiple Foreign Keys ho sakti hain.

7.Primary Key ko reference karke hi Foreign Key banayi ja sakti hai, lekin Foreign Key bina Primary Key ka kaam nahi karti.    

Q10. What Are Constraints in SQL and Why Are They Used?

Ans: The constraints in SQL are

Constraints define conditions that data must satisfy before it can be inserted, updated, or deleted in a table.
They help ensure that only valid data is stored in the database.

they are used are as follow as

1.Maintain data accuracy:

→ Prevent invalid or incorrect values from being stored.

2.Ensure data integrity:

→ Keep relationships between tables consistent.

3.Avoid duplicate records:

→ Ensure unique values where required.

4.Enforce business rules:

→ Example: salary must be greater than zero.

5.Protect database reliability:

→ Reduces errors during data entry and updates.